<h2>Xóa toàn bộ sinh viên</h2>

<form asp-action="DeleteAllConfirmed" method="post">
    <p>Bạn có chắc muốn xóa toàn bộ dữ liệu không?</p>
    
    <button type="submit" class="btn btn-danger">Xóa tất cả</button>
    <a asp-action="Index" class="btn btn-secondary">Hủy</a>
</form>