<div class="container mt-4">
    <h2>Student Management</h2>
    <div id="studentTableContainer">
    </div>
</div>
<div id="modalContainer"></div>
@section Scripts {
    <script src="~/js/Student/Student.js"></script>
    <script src="~/js/Student/Student-table.js"></script>
    <script src="~/js/Student/Student-create.js"></script>
    <script src="~/js/Student/Student-edit.js"></script>
    <script src="~/js/Student/Student-delete.js"></script>
}